EXPO_PUBLIC_STAGE=dev

EXPO_PUBLIC_API_BASE_URL=http://localhost:3001/api/v1
EXPO_PUBLIC_API_BASE_URL_IOS=http://localhost:3001/api/v1
EXPO_PUBLIC_API_BASE_URL_ANDROID=http://10.0.2.2:3001/api/v1

# Tiempo de inactividad en milisegundos (900000 = 15 minutos)
EXPO_PUBLIC_INACTIVITY_TIMEOUT=900000
